<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.arcad.rental.ui.category"
            name="%category.name">
      </category>
      <view
            category="com.arcad.rental.ui.category"
            class="com.arcad.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.arcad.rental.ui.view.propertyRental"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.arcad.rental.ui.category"
            class="com.arcad.rental.ui.views.AgencyView"
            icon="icons/Agency.png"
            id="com.arcad.rental.ui.AngecyTreeView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="com.arcad.rental.ui.category"
            class="com.arcad.rental.ui.views.CutomerView"
            icon="icons/Customers.png"
            id="com.arcad.rental.ui.CutomerView"
            name="Customer Propertie"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.arcad.rental.ui.perspectives.Rentalperspective"
            icon="icons/Agency.png"
            id="com.arcad.rental.ui.perspective1"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arcad.rental.ui.pref.PrefColor"
            id="com.arcad.rental.ui.prefpage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.arcad.rental.ui.pref.AbstractPreferenceInitializerRental">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.arcad.rental.ui.commandHelloWrd"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arcad.rental.ui.handelers.SampleHandler"
            commandId="com.arcad.rental.ui.commandHelloWrd">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label">
            <command
                  commandId="com.arcad.rental.ui.commandHelloWrd"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.arcad.rental.ui.commandHelloWrd"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.arcad.rental.ui.AngecyTreeView?after=additions">
         <command
               commandId="com.arcad.rental.ui.commandHelloWrd"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
