<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.arcad.rentalCmd.CustSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arcad.rentalcmd.CopyCustHandeler"
            commandId="com.arcad.rentalCmd.handlerCopy">
         <activeWhen>
            <reference
                  definitionId="com.arcad.rentalCmd.CopyCustDefinition">
            </reference></activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arcad.rentalcmd.CopyCustHandeler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="com.arcad.rentalCmd.CustSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.arcad.rentalCmd.CustSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.arcad.rental.ui.AngecyTreeView?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="com.arcad.rentalCmd.CustSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
